{% extends "base.html" %}



{% block head %}
    {{ super() }} 
    
    {% assets "forms_styles" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <title>Login</title>
{% endblock head %}



{% block body %}
    {% block pagetitle %} Login {% endblock pagetitle %}


    {% block main %}
        <p class="firstRow-left"></p>
        <p class="firstRow-center">Please log in</p>
        <p class="firstRow-right"></p>
        <form class="secondRow-center grid-item login-form" action="/login" method="POST">
            <div class="username-and-password">
                <input type="text" name="username" id="username" placeholder="Username">
                <input type="text" name="password" id="password" placeholder="Password">
            </div>
            <div class="remember grid-item">
                <label for="remember_me-checkbox" id="remember_me-label">Remember Me</label>
                <input type="checkbox" name="remember_me" id="remember_me-checkbox">
            </div>
            <div class="login-submit grid-item">
                <input type="submit" value="submit">
            </div>
        </form>
    {% endblock main %}



    {% block footer %}
        {{ super() }}

    {% endblock footer %}



{% endblock body %}