{% extends 'base.html' %}



{% block head %}
    {{ super() }}
    <title>Login</title>
{% endblock head %}



{% block body %}
    {% block header %}
        {{ super() }}
        {% block pagetitle %} Login {% endblock pagetitle %}
    {% endblock header%}



    {% block main %}
        {{ super() }}

        <form action="/login" method="POST">
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="text" name="password" id="password" placeholder="Password">
            <input type="checkbox" name="remember_me" id="remember_me">
            <input type="submit" value="submit">
        </form>
    {% endblock main %}



    {% block footer %}
        {{ super() }}

    {% endblock footer %}



{% endblock body %}