{% extends 'base.html' %}



{% block head %}
    {{ super() }}

    {% assets "forms_styles"%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    
    <!-- {% block title %}Register{% endblock title%} -->
{% endblock head %}



{% block header %}
    {{ super() }}

{% block pagetitle %}Register{% endblock pagetitle %}

{% endblock header%}
    
    <hr>
    

{% block main %}
    <form action="{{url_for('auth.register')}}" method="POST" class="register-form secondRow-center">
        {{ form.hidden_tag() }} <div class="registerForm-first-row grid-item">
                {{ form.username(id='username', placeholder='Username')}}
                {{ form.email(id='email', placeholder='E-mail')}}
        </div>

        <div class="registerForm-second-row grid-item">
            {{ form.password(id='password', placeholder='Password')}}
            {{ form.repeat_password(id='repeat_password', placeholder='Repeat Password')}}
        </div>

        <div class="registerForm-third-row grid-item">
            {{ form.submit_button(value='Submit') }}
        </div>
    </form>
{% endblock main %}

    <hr>

{% block footer %}
    {{ super() }}

{% endblock footer %}
