{% extends 'base.html' %}

{% if current_user.role == RoleEnum.admin %}


    {% block head %}
        {{ super() }}

        {% assets "forms_styles"%}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}

    {% endblock head %}


    {% block header %}
        {{ super() }}

        {% block pagetitle %}Approval Dashboard{% endblock pagetitle%}

    {% endblock header %}


    {% block main %}
        {{ super() }}

        <table class="pending-approval">
            <thead class="table-row-one">
                <td>Username</td>
                <td>E-mail</td>
            </thead>
            <tbody>
                {% for username, (email, id) in unapproved_users.items() %} <!-- Check how to bring user_id to this template -->
                <tr>
                    <td>{{ username }}</td>
                    <td>{{ email }}</td>
                    <td>
                        <form action="{{url_for('admin.approve_user', user_id=id)}}" method="POST" class="admin-approval firstRow-center">
                            <button type="submit" class="admin-approval-btn">Approve</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>                

    {% endblock main %}


    {% block footer %}
        {{ super() }}

    {% endblock footer %}


{% endif %}
