{% extends 'base.html' %}

{% if current_user.role == RoleEnum.admin %}


    {% block head %}
        {{ super() }}
        {% block title %}Approval Dashboard{% endblock title%}

    {% endblock head %}


    {% block header %}
        {{ super() }}

        {% block pagetitle %}Approval Dashboard{% endblock pagetitle%}

    {% endblock header %}


    {% block main %}
        {{ super() }}

        {% for username, (email, id) in unapproved_users.items() %} <!-- Check how to bring user_id to this template -->
            <form action="{{url_for('admin.approve_user', user_id=id)}}" method="POST" class="admin-approval">
                <table class="pending-approval">
                    <tr>
                        <td>{{ username }}</td>
                        <td>{{ email }}</td>
                        <td><button type="submit">Approve</button></td>
                    </tr>
                </table>                
            </form>
        {% endfor %}

    {% endblock main %}


    {% block footer %}
        {{ super() }}

    {% endblock footer %}


{% endif %}
