<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% assets "main_styles" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% endblock head %}
</head>

<body>
    <header>
        <!-- get flash messages with categories -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        <div class="flashes">
                {% if messages %}
                    <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endwith %}

        <div class="page-title"><h1>{% block pagetitle %} {% endblock pagetitle %}</h1></div>

        <nav>
            <ul>
                <li><a href="{{ url_for('main.homepage')}}">Home</a></li>


                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
                {% endif %}


                {% if current_user.is_admin %}
                <li><a href="{{ url_for('admin.approval_dashboard') }}">Approval</a></li>
                {% endif %}


                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>




    <main>
        {% block main %}

        {% endblock main %}
    </main>




    <footer>
        {% block footer %}

        {% endblock footer %}
    </footer>
        
    {% block script %} {% endblock script %}
</body>

</html>